
.link{
    color: red
}

.link:hover {
    color: blueviolet
}

/* .title{
    color: 
} */

.footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
}